## Memulai Python!

Dapat menuliskan keterangan kode menggunakan _Markdown_

In [ ]:
print("Hello world!")   # mode skrip

In [ ]:
height = 1.84

In [ ]:
tall = True

In [ ]:
height1 = 1.84

In [ ]:
height2 = 1.79

In [ ]:
height3 = 1.82

In [ ]:
height4 = 1.90

<b>Masalah</b> : 
- Terlalu banyak data masukan untuk tipe data yang sama
- Tidak nyaman
- Solusi: Python List

In [ ]:
[1.84, 1.79, 1.82, 1.90, 1.80]

In [ ]:
height = [1.84, 1.79, 1.82, 1.90, 1.80]

In [ ]:
height

In [ ]:
famz = ["Abe", 1.84, "Beb", 1.79, "Cory", 1.82, "Dad", 1.90]

In [ ]:
famz

In [ ]:
weight = [66.5, 60.3, 64.7, 89.5, 69.8]

In [ ]:
weight

In [ ]:
weight / height ** 2

### Solusi: NumPy 
- Library dasar untuk perhitungan saintifik (scientific computing) dengan Python (https://numpy.org/)
- Alternatif untuk Python List: Numpy Array untuk n-dimensi
- Mudah digunakan dan bersifat open source
- Jika library belum terpasang, tuliskan perintah instalasi: _pip install numpy_
- Kemudian impor: _import numpy as np_

In [1]:
import numpy as np

In [ ]:
np_height = np.array(height)

In [ ]:
np_height

In [ ]:
np_weight = np.array(weight)

In [ ]:
np_weight

In [ ]:
bmi = np_weight / np_height ** 2

In [ ]:
bmi

Untuk melihat fungsi lain pada NumPy, gunakan perintah _np.< TAB >_

In [ ]:
np.

In [ ]:
np_height = np.array([1.84, 1.79, 1.82, 1.9, 1.8])

In [ ]:
np_weight = np.array([66.5, 60.3, 64.7, 89.5, 69.8])

In [ ]:
type(np_height)

In [ ]:
type(np_weight)

In [ ]:
np_2d = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

In [ ]:
np_2d

In [ ]:
np_2d.shape

### SciPy

- SciPy (dibaca “Sigh Pie”) merupakan library yang bersifat open source dan tersedia di https://www.scipy.org/ 
- SciPy dibangun untuk untuk bekerja dengan NumPy array dan menyediakan kumpulan algoritma numerik, termasuk pemrosesan sinyal, optimasi, statistika, dan library Matplotlib untuk visualisasi data. 
- Jika library belum terpasang, tuliskan perintah instalasi: _pip install scipy_

### Pandas

- Pandas (Panel Data) merupakan library popular di Python yang digunakan untuk data structure dan data analysis
- Bersifat open source dan tersedia di https://pandas.pydata.org/ 
- Pandas sangat berkaitan dengan NumPy
- Jika library belum terpasang, tuliskan perintah instalasi: _pip install pandas_
- Kemudian impor: _import pandas as pd_

In [ ]:
#  series
np.array([1, 2, 3, 4, 5])

In [ ]:
# DataFrame
np.array([[1, 2], [3, 4]])

In [2]:
import pandas as pd

In [3]:
Tab = pd.read_csv("Tab.csv")

In [4]:
Tab

  Unnamed: 0     Negara  Populasi    Area    Ibukota
0         IN  Indonesia       250  123456    Jakarta
1         MA   Malaysia        25    3456         KL
2         SI  Singapura        15     456  Singapura
3         JP     Jepang        60    5678      Tokyo
4         TH   Thailand        45     678    Bangkok

In [12]:
Tab["Negara"]

0    Indonesia
1     Malaysia
2    Singapura
3       Jepang
4     Thailand
Name: Negara, dtype: object

In [6]:
Tab.Ibukota

0      Jakarta
1           KL
2    Singapura
3        Tokyo
4      Bangkok
Name: Ibukota, dtype: object

In [11]:
Tab.iloc[:,2]

0    250
1     25
2     15
3     60
4     45
Name: Populasi, dtype: int64

### Matplotlib

- Matplotlib adalah library Python untuk visualisasi data dengan dua dimensi
- Bersifat open source dan tersedia di https://matplotlib.org/ 
- Matplotlib berkaitan dengan NumPy dan Pandas
- Jika library belum terpasang, tuliskan perintah instalasi: _pip install matplotlib_
- Kemudian impor: _import matplotlib.pyplot as plt_

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
year = [1980, 1990, 2000, 2010, 2020]

In [ ]:
price = [2.5, 7.6, 9.7, 15.8, 22.9]

In [ ]:
plt.plot(year, price)
plt.show()

In [ ]:
plt.scatter(year,price)

In [ ]:
plt.bar(year,price)